@import '../../../../styles/constants';

app-catalog {
  // TODO: this works for now, but perhaps may be best to use 'flexbox'
  // @link https://css-tricks.com/couple-takes-sticky-footer/#article-header-id-3
  min-height: 100%;
  margin-bottom: -139px;
}

:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

}

.orl-catalog-list {
  flex-grow: 1;
  margin: $content-padding-side;

  @media (max-width: $small-breakpoint-width) {
    margin: 0;
  }

  h3 {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }

  h4 {
    font-style: italic;
    line-height: 20px;
  }
}

.orl-catalog-item, .orl-catalog-item:hover {
  text-decoration: none;
}

