@import '../../../../styles/constants';

:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.orl-catalog-list {
  flex-grow: 1;
  margin: $content-padding-side;

  @media (max-width: $small-breakpoint-width) {
    margin: 0;
  }

  h3 {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }

  h4 {
    font-style: italic;
    line-height: 20px;
  }
}

.orl-catalog-item, .orl-catalog-item:hover {
  text-decoration: none;
}

