// Styles for API orl generated via dgeni from material2 source Jsorl.

// Top header, e.g., "API documentation for dialog".
.orl-api-h2 {
  font-size: 30px;
}

// Section header, e.g. "Services" or "Directives"
.orl-api-h3 {
  font-size: 24px;
  font-weight: 400;
  margin-top: 45px;
}

.orl-api-h4 {
  font-size: 18px;
  font-weight: 400;
}

.orl-api-class-description {
  font-size: 12px;
}
.orl-api-property-name {
  margin: 0;
}

.orl-api-method-name-row,
.orl-api-method-parameter-row,
.orl-api-properties-name-cell {
  font-family: 'Roboto Mono', monospace;
  font-weight: 600;
}

.orl-api-properties-name-cell,
.orl-api-method-parameter-row {
  font-size: 14px;
}

.orl-api-method-parameter-type {
  font-size: 12px;
}

.orl-api-class-name,
.orl-api-module-import {
  display: inline;
}

.orl-api-method-name-cell {
  font-weight: 700;
  font-size: 18px;
}

.orl-api-method-parameters-header-cell,
.orl-api-method-returns-header-cell {
  font-size: 14px;
}

.orl-api-input-marker,
.orl-api-output-marker,
.orl-api-deprecated-marker {
  // Size corresponding to "caption"-style text in the spec.
  font-size: 12px;
}

.orl-api-module-import,
.orl-api-class-selector-name,
.orl-api-class-export-name {
  font-family: 'Roboto Mono', monospace;
  padding: 3px;
}

.orl-api-class-extends-type {
  text-decoration: none;
  border-bottom: 1px dotted;
  color: inherit;
  font-weight: 400;
  font-size: 18px;
}

.orl-api-deprecated-marker,
.orl-api-class-deprecated-marker,
.orl-api-interface-deprecated-marker {
  display: inline-block;
  font-weight: bold;

  &[title] {
    border-bottom: 1px dotted grey;
    cursor: help;
  }
}

.orl-api-deprecated-marker + .orl-api-property-name {
  text-decoration: line-through;
}
