<header class="orl-header-background" [class.is-next-version]="isNextVersion">
  <div class="orl-header-section">
    <div class="orl-header-headline">
      <h1>City of Orlando</h1>
      <h2>Open Data</h2>
      <h3>an unofficial syndication app</h3>
    </div>
  </div>
</header>

<div class="orl-homepage-promo">
  <div class="orl-homepage-title">
  <h2>How does this app have access to City of Orlando records?</h2>
  </div>
  <div class="orl-homepage-row">
    <div class="orl-homepage-promo-img right-gap">
      <orl-svg-viewer src="../assets/img/homepage/orlando-open-data.svg" scaleToContainer="true"></orl-svg-viewer>
    </div>
    <div class="orl-homepage-promo-desc">

      <p>In 2016, the City of Orlando, Florida took the initiative to increase public transparency by launching a website of theirs to "provide the public with immediate access to valuable City-specific data."</p>
      <p>
        "The public publishing of data will also help the City to drive internal efficiencies at the City, develop opportunities
        for economic development, enhance community engagement, increase community trust and fuel Orlando’s civic tech
        ecosystem."
      </p>
    </div>
  </div>
  <div class="orl-homepage-title">
    <h2>And with the City using Socrata services...</h2>
  </div>
  <div class="orl-homepage-row orl-homepage-reverse-row">
    <div class="orl-homepage-promo-img left-gap">
      <orl-svg-viewer src="../assets/img/homepage/snu-heart-orlando.svg" scaleToContainer="true"></orl-svg-viewer>
    </div>
    <div class="orl-homepage-promo-desc">
      <p>An Open Data API is available for public use! With this API software developers can query City of Orlando's records for: Building Permits Issued, Business Tax Receipts Issued, Orlando Police Department Cases and Calls for Service and Orlando Police Department Response to Resistance</p>
    </div>
  </div>
  <div class="orl-homepage-title">
    <h2>Click on the 'Catalog' link to start!</h2>
  </div>
  <div class="orl-homepage-row">
    <div class="orl-homepage-promo-img">
      <orl-svg-viewer src="../assets/img/homepage/snu-data.svg" scaleToContainer="true"></orl-svg-viewer>
    </div>
    <div class="orl-homepage-promo-img right-gap">
      <orl-svg-viewer src="../assets/img/homepage/snu-washington.svg" scaleToContainer="true"></orl-svg-viewer>
    </div>
    <div class="orl-homepage-promo-desc">
      <p>The catalog is where all available datasets that this application currently provides.</p>
    </div>
  </div>
  <div class="orl-homepage-bottom-start">
    <a mat-raised-button class="orl-button" color="primary" routerLink="/catalog">Catalog</a>
  </div>
</div>
