<div mat-dialog-content class="orl-dialog-content">
    <div *ngIf="data.idp">
        <h1 mat-dialog-title>Hi {{data.name}},</h1>
        <div class="center-children">
            <mat-icon class="mat-icon-36" *ngIf="data.idp === 'github.com'"
                [svgIcon]="useWhiteFill ? 'github_circle_white' : 'github_circle_black'">
            </mat-icon>

            <mat-icon class="mat-icon-36" *ngIf="data.idp === 'linkedin.com'"
                [svgIcon]="useWhiteFill ? 'linkedin_white' : 'linkedin_black'">
            </mat-icon>

            <mat-icon *ngIf="data.idp === 'email'" color="primary" class="mat-icon-48">email</mat-icon>

            <p>You are logged in with using your '{{data.idp}}' identity. To log out, click the button below.</p>
            <button mat-stroked-button color="warn" (click)="onIdentityClick()">log out</button>
        </div>
    </div>
    <div *ngIf="!data.idp">
        <h1 mat-dialog-title>You are currently not logged in.</h1>
        <div class="center-children">
            <p>You need to log in to view data with OrlData.</p>
            <button mat-stroked-button color="accent" (click)="onIdentityClick()">log in</button>
        </div>
    </div>
    <theme-picker></theme-picker>
</div>