<ng-template #permitsForm>
  <form [formGroup]="form" novalidate>
    <orl-check-grid title="Application Types" [formControl]="application_types"
      [dataProvider]="applicationTypesEntities">
    </orl-check-grid>
    <mat-card>
      <mat-card-title>Data Range</mat-card-title>
      <mat-form-field>
        <input matInput [matDatepicker]="startPicker" [min]="end_date.value" [max]="maxDateRangeLimit"
          [formControl]="start_date" placeholder="Start Date">
        <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
        <mat-datepicker #startPicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="endPicker" [min]="minDateRangeLimit" [max]="start_date.value"
          [formControl]="end_date" placeholder="End Date">
        <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
        <mat-datepicker #endPicker></mat-datepicker>
      </mat-form-field>
    </mat-card>
    <mat-card>
      <mat-card-title>Name</mat-card-title>
      <mat-form-field>
        <input type="text" placeholder="filter by name" matInput [formControl]="filter_name">
        <!--    TODO: implement typeahead feature
        <input type="text" placeholder="filter by name" matInput [formControl]="filter_name" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredNames | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
-->
      </mat-form-field>
    </mat-card>
  </form>
</ng-template>
<orl-form-tab [template]="permitsForm"></orl-form-tab>
