@import './form-tab/mixin-theme';

@mixin page-viewer-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  orl-page-viewer {
    .orl-header-background {
      background: mat-color($primary);
    }

    .orl-header-headline {
      color: mat-color($primary, default-contrast);
    }

    .orl-header-start {
      color: mat-color($primary);
    }
  }

  @include form-tab-theme($theme);
}
