@import '../../../../styles/constants';

app-page-viewer {
  flex-grow: 1;
}

.orl-component-viewer-content {
  margin: 15px;
}
.orl-component-viewer-section-tab {
  text-transform: uppercase;
}

.mat-tab-link {
  span > span  {
    font-size: 9px;
  }
}
