@import '../node_modules/@angular/material/theming';
@import './app/core/components/catalog/mixin-theme';
@import './app/core/components/home/mixin-theme';
@import './app/core/components/header/mixin-theme';
@import './app/core/components/progress-bar/mixin-theme';
@import './app/core/components/footer/mixin-theme';
@import './app/core/containers/page-viewer/mixin-theme';
@import './app/core/shared/checkbox-grid/mixin-theme';

@import './styles/svg-theme';
@import './styles/tables-theme';
@import './styles/tables';


// Styles for the orl app that are based on the current theme.
@mixin orl-material-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $next-theme: mat-palette($mat-red);

  // used in index.html
  .orl-app-background {
    background: mat-color($background, background);
  }

  .orl-primary-header {
    background: mat-color($primary);

    h1 {
      color: mat-color($primary, default-contrast);
    }
  }

  .orl-footer {
    background: mat-color($primary);
    color: mat-color($primary, default-contrast);
  }

  .is-next-version {
    background: mat-color($next-theme, 900) !important;
  }


  @include catalog-content-theme($theme);
  @include orl-svg-theme($theme);
  @include orl-tables-theme($theme);
  @include progress-bar-theme($theme);
  @include header-theme($theme);
  @include footer-theme($theme);
  @include page-viewer-theme($theme);
  @include home-content-theme($theme);
  @include checkbox-grid-theme($theme);
}
