<ng-template #permitsTable>
  <table mat-table [dataSource]="dataSource" multiTemplateDataRows>

    <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
      <th mat-header-cell *matHeaderCellDef> {{ column | labelcase }} </th>
      <td mat-cell *matCellDef="let record"> {{ column == 'processed_date' ? (record[column] | date) : record[column] }}
      </td>
    </ng-container>
    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let record" [attr.colspan]="displayedColumns.length">
        <div class="orl-record-detail" [@detailExpand]="record == expandedRecord ? 'expanded' : 'collapsed'">
          <div class="orl-record-diagram">
            <div *ngFor="let map of record | keyvalue" class="orl-record-keyvalue">
              <div class="orl-record-key">{{map.key | labelcase }}: </div>
              <div [ngSwitch]="map.key | fieldtype" class="orl-record-value">
                <div *ngSwitchCase="'Address'"><span [outerHTML]="map.value | mailaddress"></span></div>
                <div *ngSwitchCase="'Currency'">{{ map.value | currency }}</div>
                <div *ngSwitchCase="'Date'">{{ map.value | date }}</div>
                <div *ngSwitchCase="'Coordinates'"><span [outerHTML]="map.value | geolocation"></span></div>
                <div *ngSwitchCase="'Empty'">{{ map.value | labelcase }}</div>
                <div *ngSwitchDefault>{{ map.value | labelcase }}</div>
              </div>
            </div>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <tr mat-row *matRowDef="let record; columns: displayedColumns;" class="orl-record-row"
      [class.orl-expanded-row]="expandedRecord === record"
      (click)="expandedRecord = expandedRecord === record ? null : record"></tr>

    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="orl-detail-row"></tr>

  </table>
</ng-template>

<orl-table-tab [template]="permitsTable" [count]="count" [pageIndex]="pageIndex" [limit]="limit"
  (paginate)="pageIndexChange($event)"></orl-table-tab>
