table {
  width: 100%;
}

tr.orl-detail-row {
  height: 0;
}

/* tr.orl-record-row:not(.orl-expanded-row):active {
  background: #efefef;
} */

.orl-record-row td {
  border-bottom-width: 0;
}

.orl-record-detail {
  overflow: hidden;
  display: flex;
}

.orl-record-grid {
  margin: 5px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(5px, auto);
  .orl-record-keyvalue {
    .orl-record-key {
      grid-column: 1;
    }

    .orl-record-value {
      grid-column: 1;
    }
  }
}
